[Unit]
Description=Upmail
After=network.target time-sync.target
Wants=network.target time-sync.target

[Service]
Type=forking
User=%I
ExecStart=/home/$I/bin/upmail.sh

[Install]
WantedBy=multi-user.target
